html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    background-image: url(./bg.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
}

.container-sm{
    height: 200px;
}

h1{
    font-family: 'Bitter', serif;
    color: rgb(0, 0, 0);
    margin-top: 16%;
    text-align: center;
    font-size: 50px;
}

.container{
    margin-top: 40px;
    height: 200px;
}

h2{
    margin-top: 140px;
    text-align: center;
}

hr {
    width: 250px;
    border-top: 6px solid rgb(15, 15, 15);
}