html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    background-image: url(./bg.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
}

.container-sm{
    height: 300px;
}

h1{
    font-family: 'Bitter', serif;
    color: rgb(53, 53, 53);
    margin-top: 10%;
}

.btn.btn-dark {
    
    margin-top: 40px;
    margin-bottom: 60%;
}

.container{
    margin-top: 40px;
}

h2{
    margin-top: 80px;
    text-align: center;
}

hr {
    width: 250px;
    border-top: 6px solid rgb(124, 124, 124);
}

footer{
    margin-top: 40px;
    text-align: center;
}